# fly.toml app configuration file generated for health-tracker-uz on 2026-01-11T05:11:19+05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'health-tracker-uz'
primary_region = 'bom'
kill_signal = 'SIGTERM'

[build]

[deploy]
  release_command = '/app/bin/migrate'

[env]
  PHX_HOST = 'health-tracker-uz.fly.dev'
  PORT = '8080'
  PHX_SERVER = 'true'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 1000

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
